DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tfg_db?schema=public

PORT=3000
APP_NAME=stablecoin-interissuer-api
LOG_LEVEL=debug

ISSUER_B_BASE_URL=http://localhost:3000
ISSUER_A_TO_ISSUER_B_HMAC_SECRET=dev-only-issuer-a-to-b-secret
HMAC_MAX_CLOCK_SKEW_SECONDS=300

OUTBOX_POLLING_ENABLED=true
OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_RETRY_BASE_DELAY_MS=2000
OUTBOX_MAX_ATTEMPTS=5

XRPL_NETWORK=testnet
XRPL_SERVER_URL=wss://s.altnet.rippletest.net:51233
XRPL_ISSUER_A_TREASURY_SEED=
XRPL_ISSUER_B_TREASURY_SEED=
XRPL_DEFAULT_XRP_AMOUNT=1

XRPL_ISSUER_A_COLD_SEED=
XRPL_ISSUER_B_COLD_SEED=

XRPL_STABLECOIN_CURRENCY=USD
XRPL_STABLECOIN_TRUST_LIMIT=1000000
XRPL_INITIAL_ISSUANCE_AMOUNT=1000

XRPL_MARKET_MAKER_SEED=
XRPL_MARKET_MAKER_TRUST_LIMIT=1000000
XRPL_MARKET_MAKER_INITIAL_IOU_BALANCE=500

XRPL_DEX_OFFER_SIZE_XRP=20
XRPL_DEX_OFFER_SIZE_USD=20

XRPL_CROSS_CURRENCY_DESTINATION_AMOUNT=5
XRPL_CROSS_CURRENCY_SEND_MAX=5.5